.container {
    width: 300px;
    border: 2px solid blue;
    padding: 1em;
    display: flex;
    align-items: flex-start;
    
}

.container.flex-grow-one .flex-item {
    flex-grow: 1;
}

.container.flex-shrink-zero .flex-item  {
    flex-shrink: 0;
}

.container.flex-basis-5em .flex-item {
    flex-basis: 5em;
}

.container.flex-basis-5em.container.flex-grow-one  {
    width: auto;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background: #eee;
    flex-basis: 300px;

}