* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box-model {
max-width: 600px;
margin: 4em auto;

}

.box-model div {
    border: 1px dashed #333;
    padding: 1em 2em 2em 2em; 
    
}

.box-model div::before {
    margin-left: -1.5em;
    
}

.margin {
background: #FF966F;
}

.margin::before {
    display: block;
    content: 'margin';
}

.border {
background: #FFE8C6;
}

.border::before {
    display: block;
    content: 'border';
}

.padding {
background: #85EB85;
}

.padding::before {
    display: block;
    content: 'padding';
}

.box-model .content {
    text-align: center;
    background: #A3D2E2;
    padding: 0.5em;
}