h1 {
    color: #090;
}

p {
    font-size: 14px;
}

.highlight {
    color: orange;
}

#main-title {
    color: purple;
}

#special-paragraph {
    font-style: italic;
}

ul {
    background-color: bisque;
} 

li {
    list-style-type: square;
    color: red;
}

div {
    background-color: gray;
}