body {
    background-color: antiquewhite;
}

div {
    border: 1px solid black;
    padding: 20px;
}

.uniform {
    margin: 40px;
}

.non-uniform {
    margin: 10px 30px 20px 40px;
}

.negative {
    margin-top: -20px;
}

